@mixin mq($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@keyframes blink {
    0% {
        background-color: gainsboro;
    }
    25% {
        background-color: deeppink;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: darkorange;
    }
    100% {
        background-color: gainsboro;
    }
}

body {
    margin: auto;
    text-align: center;
}

#minesweeper {
    font-size: 2.7em;
    line-height: 0.5em;
}

#mainGrid {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    height: 310px;
    margin: auto;
    background-color: gainsboro;
    border: 4px solid gainsboro;
    cursor: context-menu;
    @include mq(450px) {
        width: 400px;
        height: 400px;
    }
}

button:hover {
    transform: scale(1.05);
}

#instructions {
    position: absolute;
    box-sizing: border-box;
    background-color: ghostwhite;
    border: 10px groove yellow;
    text-align: left;
    padding: 0px 5px;
    padding-top: 7px;
    top: 15vh;
    width: 100%;
    height: 69vh;
    p {
        font-size: 15px;
        margin: 6px 24px;
        line-height: 20px;
        @include mq(450px) {
            font-size: 20px;
            line-height: 30px;
        }
    }
    div {
        text-align: center;
        #tapToPlay {
            width: 8em;
            height: 3em;
            margin: 2em 6.5em;
            border: 1px solid;
            border-radius: 20px;
            @include mq(450px) {
                font-size: 20px;
            }
        }
    }
    @include mq(450px) {
        font-size: 20px;
        height: 45vh;
    }
}

.boxes {
    font-size: 14px;
    width: 31px;
    height: 31px;
    border: 3.5px solid;
    border-color: rgb(235, 235, 235) rgb(160, 160, 160) rgb(160, 160, 160) rgb(196, 196, 196);
    box-sizing: border-box;
    @include mq(450px) {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }
}

.choices {
    display: flex;
    position: relative;
    bottom: 45px;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.highlight {
    animation-name: blink;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
}

.flag {
    font-family: cursive;
    width: 32px;
    text-align: center;
    height: 28px;
    border: 0.8px solid;
    padding-top: 3px;
    padding-left: 2px;
    border-radius: 50%;
    background: #FEFE33;
    @include mq(450px) {
        width: 34px;
        height: 30px;
    }
    ;
}

.close {
    font-family: cursive;
    width: 24px;
    height: 24px;
    padding-top: 2px;
    text-align: center;
    border: 0.8px solid;
    border-radius: 50%;
    background: #ffffff;
    @include mq(450px) {
        width: 26px;
        height: 26px;
    }
    ;
}

#hammer {
    font-size: 17px;
    width: 32px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    border: 0.8px solid;
    border-radius: 50%;
    background: #2e2eff;
    @include mq(450px) {
        width: 33px;
    }
}

.safe {
    border: 1px solid #a4a4a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 1px;
    @include mq(450px) {
        font-size: 23px;
        padding: 3px;
    }
}

.over {
    border: 1px solid #a4a4a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 7px;
}

.one {
    color: red;
}

.two {
    color: blue;
}

.three {
    color: green;
}

.four {
    color: violet;
}

.five {
    color: darkorange;
}

.six {
    color: deeppink;
}

#gameOver {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 38%;
    left: 17%;
    width: 66%;
    height: 5.2rem;
    padding-top: 24px;
    text-align: center;
    color: #ffc83d;
    font-size: 23px;
    font-weight: 900;
    background: linear-gradient(90deg, red, blue);
    animation: visible;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1.51);
        transition-duration: 2s;
    }
}

#flagCount {
    text-align: center;
    margin: 5px auto;
    font-size: 26px;
}

.highlight2 {
    border-color: rgb(160, 160, 160) rgb(196, 196, 196) rgb(235, 235, 235) rgb(160, 160, 160);
}

#refresh {
    display: none;
    width: 55px;
    height: 55px;
    border: 1px solid;
    border-radius: 50%;
}